.menu-background {
    position: relative;
    width: 100%;
    height: auto; /* Set a specific height if needed */
}

.menu-background img {
    width: 100%;
    height: auto;
}

.menu-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.5); /* Adjust opacity */
    z-index: 1;
}

.menu-background .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; /* Ensure it appears above the overlay */
}

.menu-background .centered-text {
    color: white;
    font-size: 3.9rem; /* Adjust size as needed */
    font-weight: bold;
    
    margin-bottom: 10px; /* Space between centered text and subtext */
}

.menu-background .subtext {
    color: white;
    font-size: 1.25rem;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    opacity: 0; /* Hidden initially */
    visibility: hidden; /* Prevent it from being visible */
    animation: typing 4s steps(30, end), blink 0.5s step-end 5s, hideCursor 0.5s ease 4.5s forwards;
    animation-play-state: paused; /* Pause animation by default */
}

/* Add hidden class for initialization */
.menu-background .subtext.hidden {
    opacity: 0; /* Fully hidden */
    visibility: hidden;
    animation: none; /* Disable animation initially */
}

/* Remove hidden class to trigger animation */
.menu-background .subtext:not(.hidden) {
    opacity: 1; /* Make visible */
    visibility: visible;
    animation: typing 4s steps(30, end), blink 0.5s step-end 5s, hideCursor 0.5s ease 4.5s forwards;
    animation-play-state: running; /* Start the animation */
}


/* Typing effect with a delay in the middle */
@keyframes typing {
    0% {
        width: 0;
    }
    40% {
        width: 50%; /* Typing halfway */
    }
    60% {
        width: 50%; /* Pause for 2 seconds */
    }
    100% {
        width: 100%; /* Complete typing */
    }
}

/* Blinking cursor effect */
@keyframes blink {
    from {
        border-color: white;
    }
    to {
        border-color: transparent;
    }
}

/* Hide cursor effect */
@keyframes hideCursor {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}
