/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-right: 3rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

.navbar-logo {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 188px;
    height: auto;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    transition: transform 0.35s ease-in-out; /* Smooth transition for responsive behavior */
}

nav a {
    font-size: 1.25rem;
    margin-left: 2rem;
    color: var(--textColor);
    text-decoration: none;
    position: relative;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: var(--textColor);
    transition: 0.1s ease-in-out; /* Smooth animation for hover effects */
}

nav a:after {
    left: 0;
    bottom: -10px;
}

nav a:before {
    right: 0;
    top: -10px;
}

nav a:hover:after,
nav a:hover:before {
    width: 100%;
}

header .nav-btn {
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    transition: visibility 0s ease-in-out 0.35s, opacity 0.35s ease-in-out;
}

/* Responsive Styles */
@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s ease-in-out 0s, opacity 0.35s ease-in-out;
    }

    header nav {
        position: fixed;
        top: 0; /* Ensure it starts at the top */
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        background-color: var(--mainColor); /* Ensure solid background */
        z-index: 2000; /* Set higher z-index for the navbar */
        transform: translateY(-100vh); /* Start hidden at the top */
    }

    header .responsive_nav {
        transform: translateY(0); /* Slide down into view */
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}
