/* footer.css */

.footer-container {
  position: relative;
  text-align: center;
  border-top: 2px solid black;
}

.logo-section {
  margin: 15px 0 10px;
}

.footer-navbar-logo {
  margin-top: 1.8rem;
  width: 180px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-column p {
  margin: 4.5px 0;
  font-size: 0.75rem;
}

/* Links in columns */
.footer-column a,
.footer-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Bottom copyright row */
.footer-bottom {
  margin: 35px 0 25px;
  font-size: 0.75rem;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}
