/* aboutPage.css - polished and optimized */

.aboutUsContainer {
  text-align: center;
  margin: 1rem 0 10rem;
}

/* Title styling */
.AboutTitle {
  margin-top: 5rem;
  font-size: 5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInEffect 1s ease-out forwards;
  position: relative;
  display: inline-block;
}

@keyframes fadeInEffect {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.AboutTitle::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  bottom: -10px;
  width: 100%;
  max-width: 130%;
  height: 15px;
  background-color: var(--secondaryColor);
  animation: growBar 1s ease-out forwards;
  transform-origin: center;
  box-sizing: border-box;
}

@keyframes growBar {
  to {
    transform: translateX(-50%) scaleX(1);
  }
}

/* Story content styling */
.storyContent {
  margin: 2rem auto;
  max-width: 700px;
  padding: 0 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333;
  text-align: center;
}

.storyContent p {
  margin-bottom: 3.5rem;
  font-size: 1rem;
  line-height: 1.7rem;
}

.storyContent .storyIcon {
  display: block;
  width: 315px;
  height: auto;
  margin: 0 auto;
}

/* Promises Section */
.promisesTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.promisesTitle .line {
  flex-grow: 0.35;
  height: 1px;
  background-color: #000;
}

.promisesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.promise {
  text-align: center;
  max-width: 250px;
  margin: 0 3.9rem;
}

.promise .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  margin: 0 auto 1rem;
}

.promise p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.promiseDescription {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
}

.promiseIcon {
  display: block;
  width: 115px;
  height: 115px;
  object-fit: contain;
  margin: 0 auto 1rem;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .storyContent {
    padding: 0 3rem;
  }

  .storyContent p {
    margin: 1rem 0;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
  }

  .storyContent .storyIcon {
    margin-top: 1rem;
    width: 288px;
    height: auto;
  }

  .promise {
    margin: 1rem;
  }

  .AboutTitle {
    margin-top: 5rem;
    font-size: 3rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInEffect 1s ease-out forwards;
    position: relative;
    display: inline-block;
  }

  .AboutTitle::after {
    height: 10px;
  }

  .promisesTitle {
    font-size: 1.5rem;
  }

  .promisesSection .promiseDescription {
    font-size: 0.85rem;
  }

  .promiseIcon {
    width: 85px;
    height: 85px;
  }
}
